[submodule "Engine/vendor/modules/spdlog"]
	path = Engine/vendor/modules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/modules/glm"]
	path = Engine/vendor/modules/glm
	url = https://github.com/g-truc/glm
[submodule "Editor/vendor/modules/ImGuizmo"]
	path = Editor/vendor/modules/ImGuizmo
	url = https://github.com/ThewyRogue99/ImGuizmo
[submodule "Editor/vendor/modules/AudioToWav"]
	path = Editor/vendor/modules/AudioToWav
	url = https://github.com/ThewyRogue99/AudioToWav
[submodule "Editor/vendor/modules/ImGui"]
	path = Editor/vendor/modules/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Editor/vendor/modules/nfd"]
	path = Editor/vendor/modules/nfd
	url = https://github.com/mlabbe/nativefiledialog
[submodule "Engine/vendor/modules/Box2D"]
	path = Engine/vendor/modules/Box2D
	url = https://github.com/erincatto/box2d
[submodule "Engine/vendor/modules/glfw"]
	path = Engine/vendor/modules/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/vendor/modules/yaml-cpp"]
	path = Engine/vendor/modules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
