[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Editor/vendor/ImGuizmo"]
	path = Editor/vendor/ImGuizmo
	url = https://github.com/ThewyRogue99/ImGuizmo
[submodule "Engine/vendor/Box2D"]
	path = Engine/vendor/Box2D
	url = https://github.com/ThewyRogue99/box2d
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/ThewyRogue99/glfw
[submodule "Engine/vendor/yaml-cpp"]
	path = Engine/vendor/yaml-cpp
	url = https://github.com/ThewyRogue99/yaml-cpp
[submodule "Editor/vendor/imgui"]
	path = Editor/vendor/imgui
	url = https://github.com/ThewyRogue99/imgui
[submodule "Editor/vendor/nfd"]
	path = Editor/vendor/nfd
	url = https://github.com/ThewyRogue99/nativefiledialog